
data/
data/.DS_Store
data/bert_encode_biasbios/dev_avg.npy
data/bert_encode_biasbios/dev_cls.npy
data/bert_encode_biasbios/test_avg.npy
data/bert_encode_biasbios/test_cls.npy
data/bert_encode_biasbios/train_avg.npy
data/bert_encode_biasbios/train_cls.npy
data/biasbios/dev.pickle
data/biasbios/gender2index.txt
data/biasbios/profession2index.txt
data/biasbios/test.pickle
data/biasbios/train.pickle
data/biasbios/word2index.txt
data/cca_g2
data/cca_g3
data/cca_g4
data/cca_g5
data/cca_g6
data/deepmoji/.DS_Store
data/deepmoji/dev/neg_neg.npy
data/deepmoji/dev/neg_pos.npy
data/deepmoji/dev/pos_neg.npy
data/deepmoji/dev/pos_pos.npy
data/deepmoji/neg_neg.npy
data/deepmoji/neg_pos.npy
data/deepmoji/pos_neg.npy
data/deepmoji/pos_pos.npy
data/deepmoji/test/neg_neg.npy
data/deepmoji/test/neg_pos.npy
data/deepmoji/test/pos_neg.npy
data/deepmoji/test/pos_pos.npy
data/deepmoji/train/neg_neg.npy
data/deepmoji/train/neg_pos.npy
data/deepmoji/train/pos_neg.npy
data/deepmoji/train/pos_pos.npy
data/embeddings/.DS_Store
data/embeddings/crawl-300d-2M.vec
data/embeddings/crawl-300d-2M.vec.zip
data/embeddings/glove.42B.300d.txt
data/embeddings/glove.42B.300d.zip
data/embeddings/kcca/vecs.kcca.cleaned_0.txt
data/embeddings/kcca/vecs.kcca.cleaned_6000.txt
data/embeddings/kcca/vecs.kcca.cleaned_7500.txt
data/embeddings/vecs.150k.cleaned.txt
data/embeddings/vecs.cca.cleaned.txt
data/embeddings/vecs.filtered.txt
data/embeddings/vecs.gendered.txt
data/embeddings/voc.txt
data/emoji_sent_race_0.5/.DS_Store
data/emoji_sent_race_0.5/dev/neg_neg.npy
data/emoji_sent_race_0.5/dev/neg_pos.npy
data/emoji_sent_race_0.5/dev/pos_neg.npy
data/emoji_sent_race_0.5/dev/pos_pos.npy
data/emoji_sent_race_0.5/P_svm.num-clfs=300.npy
data/emoji_sent_race_0.5/test/neg_neg.npy
data/emoji_sent_race_0.5/test/neg_pos.npy
data/emoji_sent_race_0.5/test/pos_neg.npy
data/emoji_sent_race_0.5/test/pos_pos.npy
data/emoji_sent_race_0.5/train/neg_neg.npy
data/emoji_sent_race_0.5/train/neg_pos.npy
data/emoji_sent_race_0.5/train/pos_neg.npy
data/emoji_sent_race_0.5/train/pos_pos.npy
data/emoji_sent_race_0.6/.DS_Store
data/emoji_sent_race_0.6/dev/neg_neg.npy
data/emoji_sent_race_0.6/dev/neg_pos.npy
data/emoji_sent_race_0.6/dev/pos_neg.npy
data/emoji_sent_race_0.6/dev/pos_pos.npy
data/emoji_sent_race_0.6/P_svm.num-clfs=300.npy
data/emoji_sent_race_0.6/test/neg_neg.npy
data/emoji_sent_race_0.6/test/neg_pos.npy
data/emoji_sent_race_0.6/test/pos_neg.npy
data/emoji_sent_race_0.6/test/pos_pos.npy
data/emoji_sent_race_0.6/train/neg_neg.npy
data/emoji_sent_race_0.6/train/neg_pos.npy
data/emoji_sent_race_0.6/train/pos_neg.npy
data/emoji_sent_race_0.6/train/pos_pos.npy
data/emoji_sent_race_0.7/.DS_Store
data/emoji_sent_race_0.7/dev/neg_neg.npy
data/emoji_sent_race_0.7/dev/neg_pos.npy
data/emoji_sent_race_0.7/dev/pos_neg.npy
data/emoji_sent_race_0.7/dev/pos_pos.npy
data/emoji_sent_race_0.7/P_svm.num-clfs=300.npy
data/emoji_sent_race_0.7/test/neg_neg.npy
data/emoji_sent_race_0.7/test/neg_pos.npy
data/emoji_sent_race_0.7/test/pos_neg.npy
data/emoji_sent_race_0.7/test/pos_pos.npy
data/emoji_sent_race_0.7/train/neg_neg.npy
data/emoji_sent_race_0.7/train/neg_pos.npy
data/emoji_sent_race_0.7/train/pos_neg.npy
data/emoji_sent_race_0.7/train/pos_pos.npy
data/emoji_sent_race_0.8/.DS_Store
data/emoji_sent_race_0.8/dev/neg_neg.npy
data/emoji_sent_race_0.8/dev/neg_pos.npy
data/emoji_sent_race_0.8/dev/pos_neg.npy
data/emoji_sent_race_0.8/dev/pos_pos.npy
data/emoji_sent_race_0.8/P_svm.num-clfs=300.npy
data/emoji_sent_race_0.8/test/neg_neg.npy
data/emoji_sent_race_0.8/test/neg_pos.npy
data/emoji_sent_race_0.8/test/pos_neg.npy
data/emoji_sent_race_0.8/test/pos_pos.npy
data/emoji_sent_race_0.8/train/neg_neg.npy
data/emoji_sent_race_0.8/train/neg_pos.npy
data/emoji_sent_race_0.8/train/pos_neg.npy
data/emoji_sent_race_0.8/train/pos_pos.npy
data/kcca_linear_0
data/kcca_linear_1
data/kcca_linear_2
data/kcca_linear_3
data/kcca_linear_4
data/lists/first_names_clean.txt
data/lists/gender_specific_full.json
data/lists/professions.json
data/lists/README.md

notebooks/
notebooks/.ipynb_checkpoints/notebook_cca_generalTests-checkpoint.ipynb
notebooks/.ipynb_checkpoints/notebook_kcca_generalTests-checkpoint.ipynb
notebooks/notebook_cca_generalTests.ipynb
notebooks/notebook_kcca_generalTests.ipynb




src/
src/allen_logs/.DS_Store
src/allen_logs/deep_moji_0.5/.DS_Store
src/allen_logs/deep_moji_0.5/best.th
src/allen_logs/deep_moji_0.5/config.json
src/allen_logs/deep_moji_0.5/log/train/events.out.tfevents.1626949070.shuns-MacBook-Pro-2.local
src/allen_logs/deep_moji_0.5/log/validation/events.out.tfevents.1626949070.shuns-MacBook-Pro-2.local
src/allen_logs/deep_moji_0.5/metrics.json
src/allen_logs/deep_moji_0.5/metrics_epoch_0.json
src/allen_logs/deep_moji_0.5/metrics_epoch_1.json
src/allen_logs/deep_moji_0.5/metrics_epoch_10.json
src/allen_logs/deep_moji_0.5/metrics_epoch_11.json
src/allen_logs/deep_moji_0.5/metrics_epoch_12.json
src/allen_logs/deep_moji_0.5/metrics_epoch_13.json
src/allen_logs/deep_moji_0.5/metrics_epoch_14.json
src/allen_logs/deep_moji_0.5/metrics_epoch_2.json
src/allen_logs/deep_moji_0.5/metrics_epoch_3.json
src/allen_logs/deep_moji_0.5/metrics_epoch_4.json
src/allen_logs/deep_moji_0.5/metrics_epoch_5.json
src/allen_logs/deep_moji_0.5/metrics_epoch_6.json
src/allen_logs/deep_moji_0.5/metrics_epoch_7.json
src/allen_logs/deep_moji_0.5/metrics_epoch_8.json
src/allen_logs/deep_moji_0.5/metrics_epoch_9.json
src/allen_logs/deep_moji_0.5/model.tar.gz
src/allen_logs/deep_moji_0.5/model_state_epoch_0.th
src/allen_logs/deep_moji_0.5/model_state_epoch_1.th
src/allen_logs/deep_moji_0.5/model_state_epoch_10.th
src/allen_logs/deep_moji_0.5/model_state_epoch_11.th
src/allen_logs/deep_moji_0.5/model_state_epoch_12.th
src/allen_logs/deep_moji_0.5/model_state_epoch_13.th
src/allen_logs/deep_moji_0.5/model_state_epoch_14.th
src/allen_logs/deep_moji_0.5/model_state_epoch_2.th
src/allen_logs/deep_moji_0.5/model_state_epoch_3.th
src/allen_logs/deep_moji_0.5/model_state_epoch_4.th
src/allen_logs/deep_moji_0.5/model_state_epoch_5.th
src/allen_logs/deep_moji_0.5/model_state_epoch_6.th
src/allen_logs/deep_moji_0.5/model_state_epoch_7.th
src/allen_logs/deep_moji_0.5/model_state_epoch_8.th
src/allen_logs/deep_moji_0.5/model_state_epoch_9.th
src/allen_logs/deep_moji_0.5/vocabulary/labels.txt
src/allen_logs/deep_moji_0.5/training_state_epoch_9.th
src/allen_logs/deep_moji_0.5/training_state_epoch_8.th
src/allen_logs/deep_moji_0.5/training_state_epoch_7.th
src/allen_logs/deep_moji_0.5/training_state_epoch_6.th
src/allen_logs/deep_moji_0.5/training_state_epoch_5.th
src/allen_logs/deep_moji_0.5/training_state_epoch_4.th
src/allen_logs/deep_moji_0.5/training_state_epoch_3.th
src/allen_logs/deep_moji_0.5/training_state_epoch_2.th
src/allen_logs/deep_moji_0.5/training_state_epoch_14.th
src/allen_logs/deep_moji_0.5/training_state_epoch_13.th
src/allen_logs/deep_moji_0.5/training_state_epoch_12.th
src/allen_logs/deep_moji_0.5/training_state_epoch_11.th
src/allen_logs/deep_moji_0.5/training_state_epoch_10.th
src/allen_logs/deep_moji_0.5/training_state_epoch_1.th
src/allen_logs/deep_moji_0.5/training_state_epoch_0.th
src/allen_logs/deep_moji_0.5/stdout.log
src/allen_logs/deep_moji_0.5/stderr.log
src/allen_logs/deep_moji_0.5/vocabulary/non_padded_namespaces.txt
src/allen_logs/deep_moji_0.6/.DS_Store
src/allen_logs/deep_moji_0.6/best.th
src/allen_logs/deep_moji_0.6/config.json
src/allen_logs/deep_moji_0.6/log/train/events.out.tfevents.1626956138.shuns-MacBook-Pro-2.local
src/allen_logs/deep_moji_0.6/log/validation/events.out.tfevents.1626956138.shuns-MacBook-Pro-2.local
src/allen_logs/deep_moji_0.6/metrics.json
src/allen_logs/deep_moji_0.6/metrics_epoch_0.json
src/allen_logs/deep_moji_0.6/metrics_epoch_1.json
src/allen_logs/deep_moji_0.6/metrics_epoch_10.json
src/allen_logs/deep_moji_0.6/metrics_epoch_11.json
src/allen_logs/deep_moji_0.6/metrics_epoch_12.json
src/allen_logs/deep_moji_0.6/metrics_epoch_13.json
src/allen_logs/deep_moji_0.6/metrics_epoch_14.json
src/allen_logs/deep_moji_0.6/metrics_epoch_2.json
src/allen_logs/deep_moji_0.6/metrics_epoch_3.json
src/allen_logs/deep_moji_0.6/metrics_epoch_4.json
src/allen_logs/deep_moji_0.6/metrics_epoch_5.json
src/allen_logs/deep_moji_0.6/metrics_epoch_6.json
src/allen_logs/deep_moji_0.6/metrics_epoch_7.json
src/allen_logs/deep_moji_0.6/metrics_epoch_8.json
src/allen_logs/deep_moji_0.6/metrics_epoch_9.json
src/allen_logs/deep_moji_0.6/model.tar.gz
src/allen_logs/deep_moji_0.6/model_state_epoch_0.th
src/allen_logs/deep_moji_0.6/model_state_epoch_1.th
src/allen_logs/deep_moji_0.6/model_state_epoch_10.th
src/allen_logs/deep_moji_0.6/model_state_epoch_11.th
src/allen_logs/deep_moji_0.6/model_state_epoch_12.th
src/allen_logs/deep_moji_0.6/model_state_epoch_13.th
src/allen_logs/deep_moji_0.6/model_state_epoch_14.th
src/allen_logs/deep_moji_0.6/model_state_epoch_2.th
src/allen_logs/deep_moji_0.6/model_state_epoch_3.th
src/allen_logs/deep_moji_0.6/model_state_epoch_4.th
src/allen_logs/deep_moji_0.6/model_state_epoch_5.th
src/allen_logs/deep_moji_0.6/model_state_epoch_6.th
src/allen_logs/deep_moji_0.6/model_state_epoch_7.th
src/allen_logs/deep_moji_0.6/model_state_epoch_8.th
src/allen_logs/deep_moji_0.6/model_state_epoch_9.th
src/allen_logs/deep_moji_0.6/stderr.log
src/allen_logs/deep_moji_0.6/stdout.log
src/allen_logs/deep_moji_0.6/training_state_epoch_0.th
src/allen_logs/deep_moji_0.6/training_state_epoch_1.th
src/allen_logs/deep_moji_0.6/training_state_epoch_10.th
src/allen_logs/deep_moji_0.6/training_state_epoch_11.th
src/allen_logs/deep_moji_0.6/training_state_epoch_12.th
src/allen_logs/deep_moji_0.6/training_state_epoch_13.th
src/allen_logs/deep_moji_0.6/training_state_epoch_14.th
src/allen_logs/deep_moji_0.6/training_state_epoch_2.th
src/allen_logs/deep_moji_0.6/training_state_epoch_3.th
src/allen_logs/deep_moji_0.6/training_state_epoch_4.th
src/allen_logs/deep_moji_0.6/training_state_epoch_5.th
src/allen_logs/deep_moji_0.6/training_state_epoch_6.th
src/allen_logs/deep_moji_0.6/training_state_epoch_7.th
src/allen_logs/deep_moji_0.6/training_state_epoch_8.th
src/allen_logs/deep_moji_0.6/training_state_epoch_9.th
src/allen_logs/deep_moji_0.6/vocabulary/labels.txt
src/allen_logs/deep_moji_0.6/vocabulary/non_padded_namespaces.txt
src/allen_logs/deep_moji_0.7/.DS_Store
src/allen_logs/deep_moji_0.7/best.th
src/allen_logs/deep_moji_0.7/config.json
src/allen_logs/deep_moji_0.7/log/train/events.out.tfevents.1626960688.shuns-MacBook-Pro-2.local
src/allen_logs/deep_moji_0.7/log/validation/events.out.tfevents.1626960688.shuns-MacBook-Pro-2.local
src/allen_logs/deep_moji_0.7/metrics.json
src/allen_logs/deep_moji_0.7/metrics_epoch_0.json
src/allen_logs/deep_moji_0.7/metrics_epoch_1.json
src/allen_logs/deep_moji_0.7/metrics_epoch_10.json
src/allen_logs/deep_moji_0.7/metrics_epoch_11.json
src/allen_logs/deep_moji_0.7/metrics_epoch_12.json
src/allen_logs/deep_moji_0.7/metrics_epoch_13.json
src/allen_logs/deep_moji_0.7/metrics_epoch_14.json
src/allen_logs/deep_moji_0.7/metrics_epoch_2.json
src/allen_logs/deep_moji_0.7/metrics_epoch_3.json
src/allen_logs/deep_moji_0.7/metrics_epoch_4.json
src/allen_logs/deep_moji_0.7/metrics_epoch_5.json
src/allen_logs/deep_moji_0.7/metrics_epoch_6.json
src/allen_logs/deep_moji_0.7/metrics_epoch_7.json
src/allen_logs/deep_moji_0.7/metrics_epoch_8.json
src/allen_logs/deep_moji_0.7/metrics_epoch_9.json
src/allen_logs/deep_moji_0.7/model.tar.gz
src/allen_logs/deep_moji_0.7/model_state_epoch_0.th
src/allen_logs/deep_moji_0.7/model_state_epoch_1.th
src/allen_logs/deep_moji_0.7/model_state_epoch_10.th
src/allen_logs/deep_moji_0.7/model_state_epoch_11.th
src/allen_logs/deep_moji_0.7/model_state_epoch_12.th
src/allen_logs/deep_moji_0.7/model_state_epoch_13.th
src/allen_logs/deep_moji_0.7/model_state_epoch_14.th
src/allen_logs/deep_moji_0.7/model_state_epoch_2.th
src/allen_logs/deep_moji_0.7/model_state_epoch_3.th
src/allen_logs/deep_moji_0.7/model_state_epoch_4.th
src/allen_logs/deep_moji_0.7/model_state_epoch_5.th
src/allen_logs/deep_moji_0.7/model_state_epoch_6.th
src/allen_logs/deep_moji_0.7/model_state_epoch_7.th
src/allen_logs/deep_moji_0.7/model_state_epoch_8.th
src/allen_logs/deep_moji_0.7/model_state_epoch_9.th
src/allen_logs/deep_moji_0.7/stderr.log
src/allen_logs/deep_moji_0.7/stdout.log
src/allen_logs/deep_moji_0.7/training_state_epoch_0.th
src/allen_logs/deep_moji_0.7/training_state_epoch_1.th
src/allen_logs/deep_moji_0.7/training_state_epoch_10.th
src/allen_logs/deep_moji_0.7/training_state_epoch_11.th
src/allen_logs/deep_moji_0.7/training_state_epoch_12.th
src/allen_logs/deep_moji_0.7/training_state_epoch_13.th
src/allen_logs/deep_moji_0.7/training_state_epoch_14.th
src/allen_logs/deep_moji_0.7/training_state_epoch_2.th
src/allen_logs/deep_moji_0.7/training_state_epoch_3.th
src/allen_logs/deep_moji_0.7/training_state_epoch_4.th
src/allen_logs/deep_moji_0.7/training_state_epoch_5.th
src/allen_logs/deep_moji_0.7/training_state_epoch_6.th
src/allen_logs/deep_moji_0.7/training_state_epoch_7.th
src/allen_logs/deep_moji_0.7/training_state_epoch_8.th
src/allen_logs/deep_moji_0.7/training_state_epoch_9.th
src/allen_logs/deep_moji_0.7/vocabulary/labels.txt
src/allen_logs/deep_moji_0.7/vocabulary/non_padded_namespaces.txt
src/allen_logs/deep_moji_0.8/.DS_Store
src/allen_logs/deep_moji_0.8/best.th
src/allen_logs/deep_moji_0.8/config.json
src/allen_logs/deep_moji_0.8/log/train/events.out.tfevents.1626965420.shuns-MacBook-Pro-2.local
src/allen_logs/deep_moji_0.8/log/validation/events.out.tfevents.1626965420.shuns-MacBook-Pro-2.local
src/allen_logs/deep_moji_0.8/metrics.json
src/allen_logs/deep_moji_0.8/metrics_epoch_0.json
src/allen_logs/deep_moji_0.8/metrics_epoch_1.json
src/allen_logs/deep_moji_0.8/metrics_epoch_10.json
src/allen_logs/deep_moji_0.8/metrics_epoch_11.json
src/allen_logs/deep_moji_0.8/metrics_epoch_12.json
src/allen_logs/deep_moji_0.8/metrics_epoch_13.json
src/allen_logs/deep_moji_0.8/metrics_epoch_14.json
src/allen_logs/deep_moji_0.8/metrics_epoch_2.json
src/allen_logs/deep_moji_0.8/metrics_epoch_3.json
src/allen_logs/deep_moji_0.8/metrics_epoch_4.json
src/allen_logs/deep_moji_0.8/metrics_epoch_5.json
src/allen_logs/deep_moji_0.8/metrics_epoch_6.json
src/allen_logs/deep_moji_0.8/metrics_epoch_7.json
src/allen_logs/deep_moji_0.8/metrics_epoch_8.json
src/allen_logs/deep_moji_0.8/metrics_epoch_9.json
src/allen_logs/deep_moji_0.8/model.tar.gz
src/allen_logs/deep_moji_0.8/model_state_epoch_0.th
src/allen_logs/deep_moji_0.8/model_state_epoch_1.th
src/allen_logs/deep_moji_0.8/model_state_epoch_10.th
src/allen_logs/deep_moji_0.8/model_state_epoch_11.th
src/allen_logs/deep_moji_0.8/model_state_epoch_12.th
src/allen_logs/deep_moji_0.8/model_state_epoch_13.th
src/allen_logs/deep_moji_0.8/model_state_epoch_14.th
src/allen_logs/deep_moji_0.8/model_state_epoch_2.th
src/allen_logs/deep_moji_0.8/model_state_epoch_3.th
src/allen_logs/deep_moji_0.8/model_state_epoch_4.th
src/allen_logs/deep_moji_0.8/model_state_epoch_5.th
src/allen_logs/deep_moji_0.8/model_state_epoch_6.th
src/allen_logs/deep_moji_0.8/model_state_epoch_7.th
src/allen_logs/deep_moji_0.8/model_state_epoch_8.th
src/allen_logs/deep_moji_0.8/model_state_epoch_9.th
src/allen_logs/deep_moji_0.8/stderr.log
src/allen_logs/deep_moji_0.8/stdout.log
src/allen_logs/deep_moji_0.8/training_state_epoch_0.th
src/allen_logs/deep_moji_0.8/training_state_epoch_1.th
src/allen_logs/deep_moji_0.8/training_state_epoch_10.th
src/allen_logs/deep_moji_0.8/training_state_epoch_11.th
src/allen_logs/deep_moji_0.8/training_state_epoch_12.th
src/allen_logs/deep_moji_0.8/training_state_epoch_13.th
src/allen_logs/deep_moji_0.8/training_state_epoch_14.th
src/allen_logs/deep_moji_0.8/training_state_epoch_2.th
src/allen_logs/deep_moji_0.8/training_state_epoch_3.th
src/allen_logs/deep_moji_0.8/training_state_epoch_4.th
src/allen_logs/deep_moji_0.8/training_state_epoch_5.th
src/allen_logs/deep_moji_0.8/training_state_epoch_6.th
src/allen_logs/deep_moji_0.8/training_state_epoch_7.th
src/allen_logs/deep_moji_0.8/training_state_epoch_8.th
src/allen_logs/deep_moji_0.8/training_state_epoch_9.th
src/allen_logs/deep_moji_0.8/vocabulary/non_padded_namespaces.txt
src/allen_logs/deep_moji_0.8/vocabulary/labels.txt

.DS_Store
DebiasMulticlassWordEmbedding
try.sh
example_sh
gpu_work_script_1.sh


